node_modules/
.node_modules/
jspm_packages/
bower_components/
web_modules/
.npm
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity
package-lock.json
yarn.lock

dist
out
built/*
build/Release
build.json
/lib/
.next
.nuxt
.output
.svelte-kit/
**/.vitepress/dist
.docusaurus
.fusebox/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pids
*.pid
*.pid.lock
*.seed
*v8.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.env
.env.*
!.env.example

.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json
.vscode-test
.idea
.settings
**/.vs
*.swp
.#*
#*#
~*.docx
.tern-port

.DS_Store
**/.DS_Store

coverage
coverage/
.nyc_output
.failed-tests
TEST-results.xml
*.lcov
tests/baselines/local/*
tests/baselines/local/projectOutput/*
tests/baselines/local.old/*
tests/baselines/prototyping/local/*
tests/baselines/reference/dt
tests/baselines/reference/projectOutput/*
tests/baselines/reference/testresults.tap
tests/baselines/rwc/*
tests/baselines/symlinks/*
tests/cases/**/*.js
tests/cases/**/*.js.map
tests/cases/perf/*
tests/cases/rwc/*
tests/services/baselines/local/*
tests/services/baselines/prototyping/local/*
tests/services/browser/typescriptServices.js
tests/webhost/*.d.ts
tests/webhost/webtsc.js
tests/webTestServer.js
tests/webTestServer.js.map
!tests/baselines/reference/project/nodeModules*/**/*
!tests/cases/projects/NodeModulesSearch/**/*
!tests/cases/projects/projectOption/**/node_modules
!tests/cases/webharness/compilerToString.js

.cache
.cache/
.eslintcache
.stylelintcache
.parcel-cache
**/.vitepress/cache
.temp
.parallelperf.*
*.tsbuildinfo
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

rwc-report.html
scripts/**/*.js
scripts/**/*.js.map
scripts/debug.bat
scripts/eslint/built/
scripts/run.bat
src/compiler/diagnosticInformationMap.generated.ts
src/compiler/diagnosticMessages.generated.json
src/harness/*.js
src/parser/diagnosticInformationMap.generated.ts
src/parser/diagnosticMessages.generated.json
test-args.txt
*.actual
*.config
.dynamodb/
.firebase/
.grunt
.lock-wscript
.serverless/
internal/
lib-cov
*.tgz